<ion-view view-title="Profile">
  <ion-content>
  	<div class="" style="box-shadow: 2px 2px 4px 0 #ccc;">
  		<div class="item item-avatar">
		    <img src="img/adam.jpg">
		    <h2>Adam</h2>
		    <p>Peto Peto</p>
		    <p>017-3834729</p>
	    </div>
	</div>
		<div class="list-custom">

		<div class="list col-50 padding" style="margin-bottom:0">
		  <div class="item item-image">
		    <img src="img/cutecat.jpg">
		  </div>
		  <div class="item">
		  	<h2>Kucing Baik Punya</h2>
		  	<p>RM 260</p>
		  </div>
		</div>

		<div class="list col-50 padding">
		  <div class="item item-image">
		    <img src="img/cutecat2.jpg">
		  </div>
		  <div class="item">
		  	<h2>Lovely Kitten</h2>
		  	<p>RM 300</p>
		  </div>
		</div>

	<!-- </div> -->

	<!-- <div class="row"> -->

		<div class="list col-50 padding">
		  <div class="item item-image">
		    <img src="img/cutecat3.jpg">
		  </div>
		  <div class="item">
		  	<h2>Kucing Comel</h2>
		  	<p>RM 100</p>
		  </div>
		</div>

		<div class="list col-50 padding">
		  <div class="item item-image">
		    <img src="img/cutecat2.jpg">
		  </div>
		  <div class="item">
		  	<h2>Another Lovely Kitten</h2>
		  	<p>RM 290</p>
		  </div>
		</div>

	</div>
  </ion-content>
</ion-view>
