<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--header bar-->
<ion-header-bar align-title="left" class="bar-light">
    <div class="buttons">
      <button class="button button-clear" ng-click="">SELL</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-android-search" ng-click=""></button>
    </div>
  </ion-header-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
